DB_DSN="pgsql:host=postgres-healthcheck;dbname=healthcheck"
DB_USER="postgres"
DB_PASS="postgres"
REDIS_HOSTNAME="redis-healthcheck"
REDIS_PORT=6379
REDIS_DATABASE=0
MINIO_HOST="http://minio-s3:9008"
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_CERT_PATH=""
